%html
  %head
    %title Weekly Assessment Review Study Sheet
    %style
      = @styles
  %body
    #header
      .case
        %span.label Issue:
        John Doe
      .case_worker
        %span.label Primary Worker:
        Molly Ringwald
      .division
        %span.label District:
        Northeast
      .date
        %span.label Date:
        March 31, 2010

    %h1 Weekly Assessment Review Study Sheet

    .section
      %h2 Demographics
      %dl.demographics
        %dt.name Name
        %dd.name Michael J. Fox
        %dt Date of Birth
        %dd 02/18/1969
        %dt Distance
        %dd 6 Furlongs
        %dt Restrictions
        %dd 3 yrs+
        %dt Day
        %dd Saturday
        %dt Country
        %dd Romania
        %dt Region
        %dd Transylvania
        %dt Kingdom
        %dd Animalia
        %dt Phylum
        %dd Mollusca
        %dt Branch
        %dd USMC
      .clear

    .section
      %h2 Journal
      %table
        %thead
          %tr
            %th Date
            %th Regarding
            %th Entry
        %tbody
          %tr
            %td 03/24/2007
            %td Al Woods
            %td
              80451 Alwoods is an asteroid named after Al Woods (1911-2004), a
              longtime friend and mentor of the discoverer, James M. Roe, and
              member of the St. Louis Astronomical Society. This was the first
              asteroid discovered in the new millennium (2000AA).
          %tr
            %td 05/12/2001
            %td Tony Curtis
            %td
              During the Korean War, Italian nurse Julietta (Lisi) falls in love
              with two American fliers, Tom Ferris (Curtis) and "Tank" Martin
              (Scott). "Julie" marries Tom after he convinces her that Tank has
              been killed in a plane crash. She soon discovers that Tank is
              alive, but remains happily married to Tom until Tank re-enters
              their lives 14 years later.
          %tr
            %td 12/12/1992
            %td Transpetro
            %td
              Transpetro, a fully-owned subsidiary of Petrobras, was established
              on 12 June 1998, as per legislation (Act no. 9.478/1997) which
              restructured the oil sector in Brazil. In addition to Petrobras,
              Transpetro provides services to several distributing companies and
              to the petrochemical industry.

    .section
      %h2 Signatures
      %ul.signatures
        %li
          .signature
            %span.label Signature:
          .date
            %span.label Date:
          .name John Cusack
        %li
          .signature
            %span.label Signature:
          .date
            %span.label Date:
          .name Anthony Michael Hall
